PROJECT_NAME=Watabautet
SECRET_KEY=topsecret
FAILURE_COOLDOWN_SEC=600
SQLALCHEMY_ECHO=False


# POSTGRESQL 
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_DB=watabautet


# REDIS
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=1111


# RabbitMQ
RABBITMQ_HOST=broker
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=0000
RABBITMQ_NODE_PORT=5672


# Celery tasks
CELERY_RESULT_EXPIRES=86400
CELERY_TASK_MAX_RETRIES=8
CELERY_TASK_BACKOFF_MAX=600


# Google
GOOGLE_API_KEY="your-key"
GOOGLE_LLM="gemini-2.0-flash"
GOOGLE_API_TIMEOUT_SEC=120

